<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-empresa">
        <div>
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa fa-search"></i></button>
        </div>
        <p>
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjetas de crédito
        </p>
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu ml-lb-bg">
            <i class="fas fa-bars ml-light-text"></i>
        </div>
    </header>
    <main>
        
        <img src="/images/img-home-banner.jpg" alt="En estas fiestas no te pierdas ninguna venta">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="text-price">$6.770</p>
                    <p class="text-discount">40% OFF</p>
                    <p class="text-desc">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$230.000</p>
                    <p class="text-discount">20% OFF</p>
                    <p class="text-desc">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$70.500</p>
                    <p class="text-discount">10% OFF</p>
                    <p class="text-desc">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$23.200</p>
                    <p class="text-discount">5% OFF</p>
                    <p class="text-desc">Smart TV Samsung 43"</p>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                <div class="product-description">
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$6.770</p>
                    <p class="text-discount">40% OFF</p>
                    <p class="text-desc">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-description">
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$230.000</p>
                    <p class="text-discount">20% OFF</p>
                    <p class="text-desc">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-description">
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$70.500</p>
                    <p class="text-discount">10% OFF</p>
                    <p class="text-desc">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                <div class="product-description">
                    <i class="fas fa-truck"></i>
                    <p class="text-title">$23.200</p>
                    <p class="text-discount">5% OFF</p>
                    <p class="text-desc">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envió gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>